body {
	position: absolute;
	background: #444;
	width: 100%;
	height: 100%;
	font-family: 'Exo';
}

img {
	width: 100%;
	height: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

h1 {
	font-size: 130px;
	text-align: center;
	margin-top: 0;
	font-weight: 900;
	color: #b2d236;
}

h2 {
	font-size: 60px;
	font-style: italic;
	font-weight: 600;
	color: #b2d236;
	line-height: 1em;
}

.listaparttitle h2{
	margin-top: -0.9em;
	text-align: center;
}

h3 {
	font-size: 18px;
	margin-top: 0;
	font-weight: 400;
	color: #b2d236;
	line-height: 1.2em;
	margin-bottom: 1em;
}

h3 a {
	color: #b2d236;
	text-decoration: underline;
}

h3 a:hover {
	text-decoration: underline;
	color: #444;
}

p a {
	color: #b2d236;
}

.listaparttitle {
	margin-top: -5em;
	z-index: 100;
	position:relative;
}

.italicsidebar {
	font-style: italic;
	font-weight: 400;
}

.sessiontitle {
	font-weight: 600;
	font-size: 24px;
	line-height: 1em;
	margin-top: 1.5em;
}

.presenter {
	font-style: italic;
	font-weight: 400;
	margin-top: -0.3em;
}

.sessiondescription {
	margin-top: -0.3em;
}

li {
	list-style-type: none;
	margin-left: -40px;
}

label {
	font-weight: 400;
}

.ss-choices {
	margin-top: -1em;
}

#ss-submit {
	background-color: #b2d236;
	border-color: #b2d236;
}

.bigwrapper {
	padding: 0px;
	top: 150px;
	background: #FFF;
	width: 940px;
	margin: 0 auto;
	max-width: 100%;
}

.littlewrapper {
	padding: 0px 40px 40px 40px;
}

@media all and (max-width: 600px) {
	body, .lead-image, .wrapper {
		position: static;
	}

	img {
		width: 50%;
		margin: 0 auto;
	}

	h1 {
		font-size: 80px;
	}

	h2 {
		font-size: 40px;
	}

	.listaparttitle {
		margin-top: -3em;
	}

	.listaparttitle h2{
		margin-top: -1em;
		margin-bottom: 1em;
	}

	.littlewrapper {
	padding: 0px 20px 20px 20px;
	}

}

/* header video */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	z-index: 10;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}